@model Category

<form method="post">
	<input asp-for="Id" hidden/>
	<div class="border pt-4 pb-3">
		<div class="row">
			<h2 class="text-center">
				DELETE CATEGORY
			</h2>
			<hr />
		</div>
		<div class="form-floating mb-3 col-12 col-md-6">
			<input asp-for="Name" disabled class="form-control" id="floatingName" placeholder="">
			<label asp-for="Name" for="floatingInput"></label>
		</div>
		<div class="form-floating mb-4 col-12 col-md-3">
			<input asp-for="DisplayOrder" disabled class="form-control" id="floatingOrder" placeholder="">
			<label asp-for="DisplayOrder" for="floatingOrder"></label>
		</div>
		@* <div asp-validation-summary="All" class="alert alert-dismissible alert-danger">
		<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
		</div> *@
		<div class="row">
			<div class="col-12 col-md-2 mb-2">
				<button type="submit" class="form-control btn btn-outline-danger">Delete</button>
			</div>
			<div class="col-12 col-md-2 mb-2">
				<a asp-controller="Category" asp-action="Index" class="btn btn-outline-dark form-control">
					<i class="bi bi-arrow-left-circle"></i> Back to List
				</a>
			</div>
		</div>
	</div>
</form>