@model List<Category>

<div class="container text-center">
    <div class="row pt-4 pb-3">
        <div class="">
            <h2 class="">
                CATEGORY LIST
            </h2>
        </div>
    </div>
</div>
<div class="row d-flex justify-content-center">
    <div class="col-8">
        <table class="table table-borderless table-striped">
            <thead>
                <tr class="table-dark">
                    <th>Category Name</th>
                    @* <th>Display Order</th> *@
                    <th class="text-end">Edit/Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var obj in Model.OrderBy(u => u.DisplayOrder))
                {
                    <tr>
                        <td>@obj.Name</td>
                        @* <td>@obj.DisplayOrder</td> *@
                        <td>
                            <div class="button-group text-end" role="group">
                                <a asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-outline-primary mb-2 btn-sm">
                                    <i class="bi bi-pencil-square"></i> Edit
                                </a>
                                <a asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-outline-danger mb-2 btn-sm">
                                    <i class="bi bi-trash3-fill"></i> Delete
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-4">
        <div class="text-center">
            <a asp-controller="Category" asp-action="Create" class="btn btn-outline-dark">
                <i class="bi bi-journal-plus"></i>  Create New Category
            </a>
        </div>
    </div>
</div>
